<configuration>

    <!-- Default settings. Omitted for brevity ... -->

    <!-- tag::default[] -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- end::default[] -->
    <logger name="clubs" level="DEBUG"/> <!--1-->
    <logger name="io.micronaut.http.client" level="TRACE"/> <!--2-->
    <!-- tag::default[] -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- end::default[] -->

</configuration>